
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 104.9rem;
}.frame-1-wmi {
  background-position: center;
  padding: 31.1rem 0rem 0rem 13.08rem;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #ffffff;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  background-image: url('REPLACE_IMAGE:1eb13a83b6121e0d575183395f11113b3cf19753');

  .auto-group-szoe-h8c {
    height: 3.7rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0rem 21.7rem 0.074rem 21.62rem;
    width: calc(100% - 43.3196rem);

    .auto-group-sdv8-vvU {
      align-items: flex-start;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-right: 4.9rem;
      height: 100%;
      display: flex;

      .auto-group-d9mr-T9i {
        margin-right: 5.3rem;
        width: 8.5rem;
        height: 3.4rem;
        position: relative;
        flex-shrink: 0;

        .home-kuW {
          width: 4.3rem;
          position: absolute;
          left: 1.9rem;
          font-size: 1.7rem;
          color: #ffffff;
          height: 2.5rem;
          top: 0;
          font-weight: 400;
          line-height: 1.4475;
          font-family: Shippori Mincho B1, 'Source Sans Pro';
          white-space: nowrap;
        }
        .home-cRv {
          height: 2.5rem;
          font-weight: 400;
          line-height: 1.4475;
          color: #ffffff;
          font-family: Shippori Mincho B1, 'Source Sans Pro';
          width: 4.3rem;
          position: absolute;
          left: 1.9rem;
          top: 0;
          font-size: 1.7rem;
          white-space: nowrap;
        }
        .rectangle-4-7tU {
          position: absolute;
          left: 0;
          top: 0;
          filter: blur(1rem);
          background-color: rgba(217, 217, 217, 0.349999994);
          border-radius: 2rem;
          width: 8.5rem;
          height: 3.4rem;
        }
        .rectangle-10-QMn {
          filter: blur(1rem);
          background-color: rgba(217, 217, 217, 0.349999994);
          border-radius: 2rem;
          width: 8.5rem;
          height: 3.4rem;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
      .auto-group-ifeq-upL {
        width: 8.5rem;
        height: 3.4rem;
        position: relative;
        flex-shrink: 0;

        .about-FtC {
          line-height: 1.4475;
          color: #ffffff;
          font-family: Shippori Mincho B1, 'Source Sans Pro';
          height: 2.5rem;
          left: 1.7rem;
          top: 0;
          font-weight: 500;
          white-space: nowrap;
          width: 4.3rem;
          position: absolute;
          font-size: 1.7rem;
        }
        .about-n7S {
          font-size: 1.7rem;
          font-weight: 500;
          line-height: 1.4475;
          font-family: Shippori Mincho B1, 'Source Sans Pro';
          left: 1.7rem;
          height: 2.5rem;
          position: absolute;
          top: 0;
          color: #ffffff;
          white-space: nowrap;
          width: 4.3rem;
        }
        .rectangle-5-6tp {
          border-radius: 1.8rem;
          width: 8.5rem;
          height: 3.4rem;
          position: absolute;
          left: 0;
          top: 0;
          filter: blur(0.9rem);
          background-color: rgba(217, 217, 217, 0.349999994);
        }
        .rectangle-11-ccG {
          border-radius: 1.8rem;
          width: 8.5rem;
          height: 3.4rem;
          position: absolute;
          left: 0;
          top: 0;
          filter: blur(0.9rem);
          background-color: rgba(217, 217, 217, 0.349999994);
        }
      }
    }
    .auto-group-7nuw-ivC {
      height: 100%;
      position: relative;
      flex-shrink: 0;
      margin-right: 5.3rem;
      width: 8.5rem;

      .contact-U8g {
        font-family: Shippori Mincho B1, 'Source Sans Pro';
        width: 5.6rem;
        height: 2.5rem;
        position: absolute;
        font-weight: 500;
        line-height: 1.4475;
        left: 1.1rem;
        top: 0;
        font-size: 1.7rem;
        color: #ffffff;
        white-space: nowrap;
      }
      .contact-nfA {
        left: 1.1rem;
        top: 0;
        font-size: 1.7rem;
        line-height: 1.4475;
        color: #ffffff;
        height: 2.5rem;
        position: absolute;
        font-family: Shippori Mincho B1, 'Source Sans Pro';
        white-space: nowrap;
        width: 5.6rem;
        font-weight: 500;
      }
      .rectangle-6-J7i {
        width: 8.5rem;
        height: 3.4rem;
        position: absolute;
        left: 0;
        top: 0.3rem;
        filter: blur(1.25rem);
        background-color: rgba(217, 217, 217, 0.349999994);
        border-radius: 1.7rem;
      }
      .rectangle-12-oqA {
        left: 0;
        top: 0.3rem;
        filter: blur(1.25rem);
        background-color: rgba(217, 217, 217, 0.349999994);
        border-radius: 1.7rem;
        width: 8.5rem;
        height: 3.4rem;
        position: absolute;
      }
    }
    .auto-group-gvz8-KoW {
      width: 7.5rem;
      height: 3.4rem;
      position: relative;
      flex-shrink: 0;

      .skills-Gik {
        width: 3.8rem;
        height: 2.5rem;
        top: 0;
        color: #ffffff;
        font-family: Shippori Mincho B1, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        left: 1.4rem;
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 1.4475;
      }
      .skills-aUY {
        height: 2.5rem;
        top: 0;
        line-height: 1.4475;
        color: #ffffff;
        font-family: Shippori Mincho B1, 'Source Sans Pro';
        white-space: nowrap;
        width: 3.8rem;
        position: absolute;
        left: 1.4rem;
        font-size: 1.7rem;
        font-weight: 500;
      }
      .rectangle-7-Hdr {
        left: 0;
        top: 0;
        filter: blur(0.9rem);
        background-color: rgba(217, 217, 217, 0.349999994);
        border-radius: 1.4rem;
        width: 7.5rem;
        height: 3.4rem;
        position: absolute;
      }
      .rectangle-13-dBv {
        filter: blur(0.9rem);
        background-color: rgba(217, 217, 217, 0.349999994);
        border-radius: 1.4rem;
        width: 7.5rem;
        height: 3.4rem;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
  .auto-group-sxwl-kGY {
    margin: 0rem 2.8rem 14rem 0rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .rectangle-14-UTS {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 9.678rem 1.792rem 0rem;
      width: 14.9418rem;
      height: 38.4336rem;
    }
    .hi-there-im-ranjith-student-designer-developer-zRn {
      max-width: 31.4rem;
      font-size: 2.5rem;
      font-weight: 800;
      line-height: 1.4475;
      color: #ffffff;
      font-family: Shippori Mincho B1, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 3.7rem 14.974rem 0rem;

      .hi-there-im-ranjith-student-designer-developer-zRn-sub-0 {
      }
      .hi-there-im-ranjith-student-designer-developer-zRn-sub-1 {
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #ffffff;
        font-family: RocknRoll One, 'Source Sans Pro';
      }
    }
    .auto-group-8tpz-sGc {
      margin-top: 19.3255rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:72272b4e51261456b7946aa4a3b8ff57c403f42e');
      flex-shrink: 0;

      .rectangle-9-byJ {
        width: 29.3rem;
        height: 20.9rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
  .about-me-Jsi {
    color: #ffffff;
    font-family: Shippori Mincho B1, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 66.6rem 5.4rem 0rem;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.4475;
  }
  .auto-group-ycvu-RhS {
    width: calc(100% - 25.2196rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 13.4rem 27.088rem 11.82rem;

    .ellipse-1-9NY {
      flex-shrink: 0;
      margin: 1rem 11.8rem 0rem 0rem;
      width: 18.5rem;
      height: 18.1rem;
      object-fit: contain;
      vertical-align: top;
    }
    .im-student-pursuing-master-degree-in-master-of-computer-application-in-bsa-crescent-institute-of-science-and-technology-4VW {
      color: #ffffff;
      font-family: Shippori Mincho B1, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 1rem;
      max-width: 36.3rem;
      font-size: 2.5rem;
      font-weight: 800;
      line-height: 1.4475;
    }
  }
  .icon-instagram-KgL {
    height: 7.3378rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin-bottom: 13.2553rem;
    width: 3.7822rem;
  }
  .auto-group-t8ze-qeg {
    width: 9.3442rem;
    height: 6.1543rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin-bottom: 10.6516rem;
  }
  .icon-bell-Nec {
    vertical-align: top;
    flex-shrink: 0;
    width: 3.8934rem;
    height: 6.6277rem;
    object-fit: contain;
  }
}
